/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');

/* Styles for the body */

body {
	font-family: "Roboto Bold"; 
	color: #202070;
	background-color: #ffffff;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #ff9d9d;
}

.resume-main {
	background-color: #fff8f8;
}

.resume-aside {
	background-color: #ffe6e6;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "·";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #000000;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
